<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}"
>
<head>
  <th:block layout:fragment="script">
    <script th:src="@{/js/item/write.js}"></script>
  </th:block>
</head>
  <body>
    <div layout:fragment="content" class="content w-75 py-5 m-auto">
      <div id="writeForm">
        <p class="h2">상품 등록</p>

        <div>
          <div class="form-group">
            <div class="custom-file img-div">
              <input type="file" class="custom-file-input" name="itemImgFile" id="itemImgFile" multiple onchange="loadFile(this)"/>
              <label class="custom-file-label">이미지 등록</label>
            </div>
          </div>
        </div>
        <div id="previewContainer">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">상품명</span>
          </div>
          <input type="text" id="title" class="form-control" placeholder="상품명을 입력해주세요" />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">카테고리</span>
          </div>
          <div class="input-group-prepend">
            <div class="form_section_content">
              <div class="cate_wrap">
                <select class="cate1">
                  <option selected value="none">대분류</option>
                </select>
              </div>
              <div class="cate_wrap">
                <select class="cate2">
                  <option selected value="none">중분류</option>
                </select>
              </div>
              <div class="cate_wrap">
                <select class="cate3" name="cateCode">
                  <option selected value="none">소분류</option>
                </select>
              </div>
              <span class="ck_warn cateCode_warn">카테고리를 선택해주세요.</span>
            </div>
          </div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">가격</span>
          </div>
          <input type="number" id="price" class="form-control" placeholder="상품의 가격을 입력해주세요" />
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">상품 상세 내용</span>
          </div>
          <textarea id="content" class="form-control" aria-label="With textarea"></textarea>
        </div>


      <div style="text-align: center">
        <button type="button" class="btn btn-primary" onclick="writeFormSubmit()">저장</button>
        <button class="btn btn-primary" onclick="javascript:history.back()">취 소</button>
      </div>
    </div>
    </div>
  </body>

</html>

<!--<div class="mt-3 mb-3">-->